{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  <link rel="shortcut icon" type="image/png" href="{% static 'images/image.png' %}" />
  <title>Note App</title>
  {% block head %}{% endblock %}
</head>

<body>
  <header>

    <h1><a href="/" class="logo-link">Note App</a></h1>

    {% if not request.path == '/' %}

    <nav>
      <ul>

        <li><a href="{% url 'notes_index' %}">All Notes</a></li>
        <li><a href="{% url 'note-create' %}">Add a Note</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
      </ul>
    </nav>
    {% endif %}
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>
</body>

</html>