{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  <link rel="shortcut icon" type="image/png" href="{% static 'images/image.png' %}" />
  <title>Note App</title>
  {% block head %}{% endblock %}
</head>

<body>
  <header>

    <h1><a href="/" class="logo-link">Note App</a></h1>

    {% if not request.path == '/' %}

    <nav>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'emoji-index' %}">All Emojis</a></li>
        <li><a href="{% url 'emoji-create' %}">Add an Emoji Reaction</a></li>
        <li><a href="{% url 'notes_index' %}">All Notes</a></li>
        <li><a href="{% url 'note-create' %}">Add a Note</a></li>
        <li>
          <form id="logout-form" method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Log out</button>
          </form>
        </li>
        {% else %}

        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
  </header>

  <main>
    {% block content %}

    {% endblock %}
  </main>
</body>

</html>