{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/notes/note-detail.css' %}" />
{% endblock %}

{% block content %}
<section class="note-detail">
  <h1>{{ note.title }}</h1>
  <p>{{ note.content }}</p>
  <p class="note-meta">Created: {{ note.created_at|date:"F j, Y, g:i a" }}</p>

  <div class="note-actions">
    <a href="{% url 'note-update' note.id %}" class="btn warn">Edit</a>
    <a href="{% url 'note-delete' note.id %}" class="btn danger">Delete</a>

  </div>
</section>
{% endblock %}